@import "../../index.module.scss";

.container {
  background-color: $soft-grey;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  color: $dark-grey;
  position: relative;
}

.image {
  width: 90%;
  padding: 10px;
  height: auto;
}
.title {
  font-weight: 500;
  margin: 10px 0;
  font-size: 2rem;
}

.description {
  margin-bottom: 10px;
  padding:  12px;
  margin : auto;
  text-align: justify;
  text-justify: distribute;
  font-size : 1.3rem;
  text-align-last: left;
  hyphens: auto;
}
.buttonLocation {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 475px){
  .image{
    width: 100%;
    padding-top: 5px;
    padding: 0;
  }
  .title {
    font-size : 1.5rem;
 
  }
}





