@import "../../index.module.scss";

.title {
  font-family: "Pacifico";
  text-align: center;
  color: $dark-grey;
  font-size: 4.2rem;
  padding-top: 100px;
}
.description {
  margin: 20px 0;
  color: $dark-grey;
  font-size: 1.3rem;
  font-family: "Roboto";
  text-align: justify;
  text-justify: distribute;
  text-align-last: left;
  hyphens: auto;
}

.descriptionWrapper {
  display: flex;
  justify-content: center;
  flex-direction: space-around;
}

.image {
  width: 300px;
  height: auto;
  margin-top: -100px;
}

.subtitle {
  color: $dark-grey;
  font-size: 1.6rem;
  margin-top: 20px;
  font-family: "Roboto";
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}
.underline {
  width: 40%;
  height: 3px;
  margin: auto;
  background: red;
  background: linear-gradient(
    to right,
    red,
    red 33.33%,
    yellow 33.33%,
    yellow 66.66%,
    rgb(15, 190, 15) 66.66%
  );
}

@media only screen and (min-width: 670px) {
  .description {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 830px) {
  .title {
    margin-top: 40px;
    z-index: 0;
    opacity: 1;
  }

  .description {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 80%;
    margin: 20px auto;
  }

  .underline {
    width: 25%;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .descriptionWrapper {
    flex-direction: column-reverse;
  }
  .image {
    margin: 20px auto;
  }
}

@media only screen and (min-width: 1500px) {
  .description {
    width: 70%;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 650px) {
  .description {
    display: inline-block;
    width: 50%;
  }

  .descriptionWrapper {
    display: inline-block;
    text-align: center;
    justify-content: left;
  }

  .image {
    display: inline-block;
    width: 30%;
  }
}
