.technologies {
  text-align: center;
  margin: 15px auto;
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  .column {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 450px) {
  .technologies {
    font-size: 1.9rem;
    margin-bottom: 20px;
  }
  .column {
    width: 45%;
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 590px) {
  .column {
    width: 40%;
    min-width: 130px;
  }
}

@media screen and (min-width: 890px) {
  .column {
    width: 20%;
    min-width: 130px;
  }
  .technologies {
   
    margin: 35px auto ;
 
  }
}
