.container {
  z-index: 12;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 550px) {
  .flag {
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: -10px;
    z-index: 200;
  }
}

@media only screen and (min-width: 1000px) {

  .flag {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

