.container {
  height: 100vh;
  position: relative;
  z-index: 12;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flag {
  display: none;
}

@media only screen and (min-width: 550px) {

  .flag {
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: -8px;
    z-index: 200;
  }
}

@media only screen and (min-width: 1000px) {

  .container {
    height: 90vh;
    min-height: 30%;
  }
  .flag {
   
    display: block;
  }
}


