@import "react-slideshow-image/dist/styles.css";

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 450px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  margin: auto;
  background-position: center;
}

@media screen and (max-width: 500px) {
  .each-slide > div {
    height: 200px;
  }
}
