@import "../../index.module.scss";



.textarea {
  font-family: "Roboto";
  font-size: 1.4rem;
  border: 2px solid $medium-grey;
  width: 100%;
  height: auto;
  color: grey;
  padding: 5px;
  background-color : rgba(255, 255, 255, 0.1);
  font-size : 18px;
  margin-top: 10px;
}


.bombaName {
  font-family: "Pacifico";
}


.iframe {
  border: 3px solid $medium-grey;
  width: 100%;
  min-height: 300px;
  height: auto;
}

.textarea::placeholder {
  font-family: "Roboto";
  color: grey;
  color : $dark-grey;
  font-size: 18px;
  margin : 5px;
}
.textarea:focus {
  outline:none;
  border: 3px solid #5fa8d3;
}

.openHours {
  margin: 10px 0;
}

.askQuestion {
  margin-top: 30px;
}


.certificate {
  margin-top: 50px;
}
.logoRF {
  padding: 20px;
  width: 100%;
  height: auto;
}

.description {
  margin : auto;
  margin-top: 30px;
  text-align: justify;
}





@media screen and (min-width: 670px ) and (max-width: 930px ) {


  .askQuestion {
    margin-top: 10px;
  }
}

@media screen and (min-width: 930px) {


  .askQuestion {
    margin-top: 10px;
  }
}

.contactWrapper a  {
  color: $dark-grey;
}
.contactWrapper b  {
    color: $dark-grey;
  }


@media screen and (max-width: 450px) {

.mailStyle {
  font-size : 1.2rem;
}



}


@media screen and (max-width: 500px) {

  .contactWrapper b {
    display: block;
  }
  .contactWrapper{
    font-size : 1.5rem;
  }

  .contactWrapper p.title p {
  
    font-size : 1.4rem;
  
  }

}

@media screen and (max-width: 1210px) {
  .contactWrapper b {
    display: block;
  }
}

.dataBlock {
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
}
