.formErrors {
  color: rgb(245, 66, 66);
  font-size: 1rem;
  // display: inline-block;
  width: 100%;
  font-weight : 500;
  position: relative;
  height: 20px;

}

.formErrors:last-child {
  margin-bottom: 0;
}

.textErrors {
  display: flex;
  position : absolute;
  top: -5px;
  width :100%;
  z-index: 50;
}




